<style>
    .login-form {
        background-color: #fff;
        padding: 30px;
        border-radius: 24px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        margin-top: 80px;
    }

    .form-control:focus {
        border-color: #ffc757;
        box-shadow: none;
    }

    .login-btn {
        background-color: #ffc757;
        color: #fff;
        border: none;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 1px;
        padding: 10px 20px;
        transition: all 0.3s ease-in-out;
    }

    .login-btn:hover {
        background-color: #FFAD05;
    }

    .login-form label {
        font-size: 16px;
        font-weight: 600;
    }

    .form-heading {
        font-size: 36px;
        font-weight: 700;
        color: #ffc757;
        text-align: center;
        margin-bottom: 30px;
    }

    a {
        color: #ffc757;
    }
</style>
<script>

</script>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="login-form">
                <h2 class="form-heading">simpleRP</h2>
                <form
                    onsubmit="mta.triggerEvent('main:onSignInSubmit', document.getElementById('username').value, document.getElementById('password').value, document.getElementById('remember-me').checked); return false;">
                    <div class="form-group mb-4">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="form-group mb-4">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <div class="form-group mb-5">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="remember-me" name="remember-me">
                            <label class="form-check-label" for="remember-me">
                                Remember me
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-lg btn-block login-btn">Login</button>
                </form>
                <hr>
                <p id="signUpParagraph" class="text-center">Don't have an account? <a href="#"
                        onkeydown="mta.triggerEvent('main:onSignInSwitchToSignUp');"
                        onclick="mta.triggerEvent('main:onSignInSwitchToSignUp');">Sign Up</a></p>
            </div>
        </div>
    </div>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="signInNotificationToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img src="..." class="rounded me-2" alt="...">
            <strong id="signInNotificationTitle" class="me-auto"></strong>
            <small>just now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div id="signInNotificationMessage" class="toast-body">
        </div>
    </div>
</div>