<style>
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
    }

    .sign-in-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: rgba(235, 235, 235, 0.75);
        border-radius: 25px;
        padding: 16px;
    }

    .sign-in-title {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #414141;
        padding: 32px;
    }
</style>
<div class="container">
    <div class="sign-in-container">
        <div class="sign-in-title">
            <h1>simpleRP</h1>
        </div>

        <form>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="rememberMe">
                <label class="form-check-label" for="rememberMe">Remember me</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>